* {
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

html {
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    /* Prevents rubber-band scrolling of the whole "page" */
    color: var(--color);
    background-color: #fff;
    /* To cover OSes with no default background color */
}

body {
    margin: 0;
    height: 100%;
    display: flex;
}

a {
    color: var(--color-link);
}

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.5;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.3em;
    font-weight: normal;
}

h3 {
    font-size: 1.12em;
    font-weight: 600;
}

table {
    font-size: 1.1em;
    /*width: 100%;*/
    border-spacing: 0;
    border: 1px solid hsla(0, 0%, 0%, .08);
    border-width: 0 1px 1px 0;
}

th {
    background-color: hsla(0, 0%, 50%, .06);
}

th,
td {
    text-align: center;
    vertical-align: center;
    border: 1px solid hsla(0, 0%, 0%, .08);
    border-width: 1px 0 0 1px;
}

svg {
    fill: currentColor;
}


/* Code */

code,
kbd {
    border-radius: 4px;
    padding: 1px 4px;
    white-space: nowrap;
    color: hsl(0, 0%, 36%);
    background-color: hsla(0, 0%, 60%, .15);
}

pre,
kbd {
    font-size: 13px;
    overflow: auto;
    padding: 1em;
    margin: 0;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--color-border);
    background-color: white;
}

pre code {
    white-space: pre;
}

pre>.hljs {
    color: var(--color-subtle);
    background-color: white;
}

kbd {
    padding: 0.5em;
}


/* Utilities ---------------------------- */

.u-avoid-clicks {
    pointer-events: none;
}


/* Visually hidden, but will be read by screen readers */

.u-visible-to-screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.no-display {
    display: none;
}


/* Content ------------------ */

.content {
    flex: 1;
    position: relative;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.content.is-shown {
    visibility: visible;
    opacity: 1;
}


/* Hacks ---------------------------- */


/* Fixes horizontal scrolling in code blocks on OS X El Cap (10.11.3), retina screen
 *
 * By adding an invisible outline property, it will force a repaint
 * which enables the scrolling.
 */

.hljs:hover,
.hljs:active {
    outline: 1px solid transparent;
}


/*.textarea {
    font-size: 14px;
    width: 100%;
    min-height: 200px;
    _height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    border: 1px solid #a0b3d6;
    line-height: 24px;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}*/


/*以下为设置多栏div自动横向排列的样式*/

.boxes
/*这是关键*/

{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    border: 1px solid #999;
    border-radius: 10px;
    flex: auto;
    /*这是关键*/
    margin: 5px;
    padding: 10px;
    width: 100px;
    /*每个元素的初始化宽度,这是关键*/
}

.box1 {
    flex: 2;
    /*设置匹配元素所占宽度为平均值的2倍，如果不设置，所有栏等宽*/
}

.textareapreview {
    font-size: 14px;
    width: 100%;
    min-height: 600px;
    _height: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    border: 1px solid #a0b3d6;
    line-height: 24px;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}


/*.html5tooltip-box {
    background-color: #2A2A2A;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .15), 0 0 10px rgba(255, 255, 255, .15);
    color: #F7F7F7;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
}*/

.center {
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}

.configtable {
    font-size: 1.1em;
    border-spacing: 0;
    border: 1px solid hsla(0, 0%, 0%, .08);
    border-width: 0 1px 1px 0;
    width: 600px;
}


/*#textarea {
    font-size: 14px;
    width: 100%;
    min-height: 200px;
    _height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    border: 1px solid #a0b3d6;
    line-height: 24px;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}*/

.textareainput {
    font-size: 14px;
    width: 100%;
    min-height: 200px;
    _height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    border: 1px solid #a0b3d6;
    line-height: 24px;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    color: hsl(194, 60%, 36%);
}